<html>
<head>
  <title>cv obam dimi</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="TRUC" #TRUC>
  <div id="border" style="border : groove 2px gray">
  <main>
    <header>
      <div class="photo">
        <img src="../../assets/images/personne.png" width="100%" height="100%" alt="mot">
      </div>
      <div class="des">
        <h3>OBAM DIMI ARIEL JUNIOR</h3>
        <p class="post">Administrateur Réseaux</p>
      </div>
      <div class="right1">
        <p><img src="../../assets/images/mail.WEPB" width="100%" height="100%" alt="mon image" class="info">arieldimi094@gmail.com</p>
        <p><img src="../../assets/images/map.PNG" width="100%" height="100%" alt="localisation" class="info">Yaoundé-Cameroun</p>
        <p><img src="../../assets/images/telephone.PNG" width="100%" height="100%" alt="tel" class="info">+237699648009</p>
      </div>
    </header>
    <section class="section-gauche">
      <h4>Atouts</h4>
      <hr class="light">
      <div class="atouts">
        <div>Travail d'équipe</div>
        <div>Lorem ipsum sit amet, consectetur adipisicing elit, sed do eiusmod.</div>
        <div>Adaptabilité / Flexibilité</div>
        <div>Lorem ipsum sit amet, consectetur adipisicing elit, sed do eiusmod.</div>
      </div>
      <h4>Diplômes et formation</h4>
      <hr class="light">
      <div class="div">
        <div><b>Certification de spécialisation en administration des réseaux informatique</b>
          <strong>Entreprise/Ecole/</strong>ville, lieux</div><br>La date
        <br>
        <br>

        <div><b>Certification de spécialisation en administration des réseaux informatique</b>
          <strong>Entreprise/Ecole/</strong>ville, lieux</div><br>La date
      </div>

      <h4>Expériences Professionnelles</h4>
      <hr class="light">
        <div class="div">
          <p><b>Stagiaire</b><strong>12Econsulting, Ebolowa</strong><br>
          Date <br>
          gestion de la communication entre les équipements de la boite <strong>12Econsulting</strong></p>

          <p><b>Stagiaire</b><strong>12Econsulting, Ebolowa</strong><br>
            Date <br>
            gestion de la communication entre les équipements de la boite <strong>12Econsulting</strong></p>

          <p><b>Stagiaire</b><strong>12Econsulting, Ebolowa</strong><br>
            Date <br>
            gestion de la communication entre les équipements de la boite <strong>12Econsulting</strong></p>
        </div>
    </section>

    <section class="section-droite">
      <h4>Compétences</h4>
      <hr class="light">
        <div class="skls">
          <div class="po">
            <p>réseaux informatique</p>
            <div class="cool">
              <div style="width: 80%" class="inner"></div>
            </div>
          </div>
          <div class="po">
            <p>réseaux informatique</p>
            <div class="cool">
              <div style="width: 80%" class="inner"></div>
            </div>
          </div>
          <div class="po">
            <p>réseaux informatique</p>
            <div class="cool">
              <div style="width: 80%" class="inner"></div>
            </div>
          </div>
          <div class="po">
            <p>réseaux informatique</p>
            <div class="cool">
              <div style="width: 80%" class="inner"></div>
            </div>
          </div>

        </div>
        <h4>Langues</h4>
        <hr class="light">
          <div class="skls">
            <div class="po">
              <p>Français</p>
              <div class="cool">
                <div style="width: 80%" class="inner"></div>
              </div>
            </div>
            <div class="po">
              <p>Anglais</p>
              <div class="cool">
                <div style="width: 30%" class="inner"></div>
              </div>
            </div>
            <div class="po">
              <p>langue locale</p>
              <div class="cool">
                <div style="width: 70%" class="inner"></div>
              </div>
            </div>
          </div>
          <h4>Réseaux Sauciax</h4>
            <hr class="light">
              <div class="interet">
                <p><img src="../../assets/images/fb.JPG" class="info"><span>https://www.facebook.com/tsinform</span></p>
                <p><img src="../../assets/images/github.PNG" class="info"><span>https://github.com</span></p>
                <p><img src="../../assets/images/stack.PNG" class="info"><span>https://stackoverflow</span></p>
              </div>

              <h4>Centres d'intérets</h4>
                <hr class="light">
                  <div class="interet">
                    <div><img src="../../assets/images/roller2.png" class="info"><b><span>Roller</span></b></div>
                    <div><img src="../../assets/images/basket.png" class="info"><b><span>Basketball</span></b></div>
                    <div><img src="../../assets/images/musique.png" class="info"><b><span>Musique</span></b></div>
                    <div><img src="../../assets/images/anime.png" class="info"><b><span>Anime</span></b></div>
                  </div>
    </section>
    <!--fin de la section -->
      <div class="srkl">

      </div>
    <hr class="light">
  </main>
</div>
</body>
<div id="test" #test>
  this is a test
</div>
<input type="button" value="Download Me" class="btn btn-success" (click)="captureScreen()"><br>
</html>
