.space{
    height:1.1vh;
    width:55px;
    border-radius:10px;
    background-color:#FF5959,
}

.btns{
    height:7vh;
    width:170px;
    border-radius:50px;
    border:none;
    color:white;
}

.btn1{
    background-color:#FF5959;  
}
.btn2{
    background-color:#4A63E7,
}

img{
    height: 120px;
    width: 120px;
}