
<div class="container shadow-lg p-3 mb-5 bg-body rounded">
    <div class="container">
       <div class="row">
           <div class="firstElement my-5 mx-3">
               <h4 class="fw-bold">About Me</h4>
               <div class="space mt-3"> </div>
           </div>
       </div>
       <div class="row mt-4">
           <div class="col-3">
            <img src="../../assets/images/IMG_2127.png" alt="" class=" rounded-circle  imgProfil" >
           </div>
           <div class="col">
              <div class="row mb-4">
                  <h3 class="fw-bold">Hello,</h3>
              </div>
              <div class="row ">
                  <p>I am {{nom}} Lorem ipsum dolor sit amet consectetur, 
                      adipisicing elit. Veniam, odio.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                       voluptatum.
                    </p>
              </div>
              <div class="row mt-3 mb-4">
                  <div class="col">
                      <button class=" btns btn1 btn"> <span class="mx-1"><i class="far fa-envelope"></i></span> Download CV </button>
                  </div>
                  <div class="col">
                      <button class="btns btn2 btn ">  <span class="mx-1"><i class="far fa-envelope"></i></span> Hire me  2</button>
                  </div>
              </div>
           </div>
       </div>
    </div>
</div>
