<p>frontend works!</p><!DOCTYPE html>
<html>
  <head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u0" class="ax_default box_1">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1" class="ax_default box_1">
        <img id="u1_img" class="img " src="../../assets/images/page_1/regen/u1.svg"/>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2" class="ax_default box_1">
        <img id="u2_img" class="img " src="../../assets/images/page_1/regen/u2.svg"/>
        <div id="u2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u3" class="ax_default box_1">
        <img id="u3_img" class="img " src="../../assets/images/page_1/regen/u3.svg"/>
        <div id="u3_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default box_1">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Profile Picture  -->
      <div id="u5" class="ax_default image">
        <img id="u5_img" class="img " src="../../assets/images/page_1/regen/u5.svg"/>
        <div id="u5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Personal information -->
      <div id="u6" class="ax_default paragraph">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text ">
          <p style="text-align:center;">
            <span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;">
                <br>
            </span>
        </p>
        <p style="text-align:center;">
            <span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;"><br></span>
        </p>
        <p style="text-align:center;">
            <span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;">PERSONALS INFORMATIONS</span>
        </p>
            <p style="text-align:center;">
                <span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;"><br></span>
            </p>
            <p style="text-align:left;"><span style="font-family:'Comic Sans MS';font-weight:400;">Yaounde</span></p>
            <p style="text-align:left;"><span style="font-family:'Comic Sans MS';font-weight:400;">ndokoraoul@gmail.com</span></p>
            <p style="text-align:left;"><span style="font-family:'Comic Sans MS';font-weight:400;">+237 6 23 72 23 72</span></p>
            <p style="text-align:left;"><span style="font-family:'Comic Sans MS';font-weight:400;">www.ndokoraoul.com</span></p>
        </div>
      </div>

      <!--  LIST OF LANGUAGE -->

      <div id="u7" class="ax_default paragraph">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;color:#FFFFFF;">&nbsp;&nbsp; &nbsp; SPOKEN LANGUAGES</span></p>  
                <div class="row mt-3" >
                    <div class="col-4">
                        <p style="font-size:14px;"><span style="font-family:'Comic Sans MS';font-weight:400;color:#FFFFFF;">French</span></p>
                    </div>
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                </div>
                <div class="row mt-3" >
                    <div class="col-4">
                        <p style="font-size:14px;"><span style="font-family:'Comic Sans MS';font-weight:400;color:#FFFFFF;">French</span></p>
                    </div>
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                </div>
                <div class="row mt-3" >
                    <div class="col-4">
                        <p style="font-size:14px;"><span style="font-family:'Comic Sans MS';font-weight:400;color:#FFFFFF;">French</span></p>
                    </div>
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                </div>
                
                 
                   
        </div>

      </div>



   


      <!-- LIST OF SKILLS -->
      <div id="u23" class="ax_default paragraph">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text ">
          <p style="font-size:14px;"><span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;color:#FFFFFF;">&nbsp;&nbsp; &nbsp;TECHNICAL SKILLS</span></p>
          <div class="row mt-3" >
            <div class="col-4">
                <p style="font-size:14px;"><span style="font-family:'Comic Sans MS';font-weight:400;color:#FFFFFF;">French</span></p>
            </div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        </div>
        <div class="row mt-3" >
            <div class="col-4">
                <p style="font-size:14px;"><span style="font-family:'Comic Sans MS';font-weight:400;color:#FFFFFF;">French</span></p>
            </div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        
        </div>


        <div class="row mt-3" >
            <div class="col-4">
                <p style="font-size:14px;"><span style="font-family:'Comic Sans MS';font-weight:400;color:#FFFFFF;">French</span></p>
            </div>
            <div class="col-8">
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        </div>


      </div>

      
      </div>


      <!-- Unnamed (Rectangle) -->
      <div id="u36" class="ax_default paragraph">
        <div id="u36_div" class=""></div>
        <div id="u36_text" class="text ">
          <p style="text-align:center;"><span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;">SOCIAL NETWORK</span></p><p style="text-align:center;"><span style="font-family:'Comic Sans MS Bold', 'Comic Sans MS';font-weight:700;"><br></span></p><p style="text-align:left;"><span style="font-family:'Comic Sans MS';font-weight:400;">https://wwww.facebook.com/watch?v=ULYR22KtnHE</span></p><p style="text-align:left;"><span style="font-family:'Comic Sans MS';font-weight:400;">https://wwww.youtube.com/watch?v=ULYR22KtnHE</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u37" class="ax_default button">
        <div id="u37_div" class=""></div>
        <div id="u37_text" class="text ">
          <p><span>add section </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default paragraph">
        <div id="u38_div" class=""></div>
        <div id="u38_text" class="text ">
          <p style="font-size:18px;"><span style="font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';font-weight:700;">ABOUT</span></p><p style="font-size:13px;"><span style="font-family:'Arial';font-weight:400;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial';font-weight:400;"><br></span></p><p style="font-size:13px;"><span style="font-family:'Arial';font-weight:400;">Student computer engineer in the second year of IAI Cameroon, passionate about programming and new technologies. I am looking for an internship from June 2021 to August 2021 and a 3-year engineering cycle from September 2021.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u39" class="ax_default paragraph">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>EXPERIENCES</span></p><p><span><br></span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u40" class="ax_default paragraph">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text ">
          <p><span><br></span></p><p><span>oct. 2019 - mars 2020, Yaounde</span></p><p><span>The Palace of the Micro</span></p><p><span>Web and Mobile Developer Intern</span></p><p><span>Creation of a web application for a customer in Lyon.</span></p><p><span>Using ReactJS to develop a mapping application</span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u41" class="ax_default line">
        <img id="u41_img" class="img " src="../../assets/images/page_1/regen/u41.svg"/>
        <div id="u41_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u42" class="ax_default paragraph">
        <div id="u42_div" class=""></div>
        <div id="u42_text" class="text ">
          <p><span>FORMATION</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u43" class="ax_default paragraph">
        <div id="u43_div" class=""></div>
        <div id="u43_text" class="text ">
          <p><span><br></span></p><p><span>oct. 2019 - mars 2020, Yaounde</span></p><p><span>The Palace of the Micro</span></p><p><span>Web and Mobile Developer Intern</span></p><p><span>Creation of a web application for a customer in Lyon.</span></p><p><span>Using ReactJS to develop a mapping application</span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u44" class="ax_default line">
        <img id="u44_img" class="img " src="../../assets/images/page_1/regen/u41.svg"/>
        <div id="u44_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u45" class="ax_default heading_1">
        <div id="u45_div" class=""></div>
        <div id="u45_text" class="text ">
          <p><span>USER NAME </span></p>
        </div>
      </div>


    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
