<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">

            <button id="trans"  data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-language fa-lg me-6 fa-fw"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
              <button class="dropdown-item" href="#" (click)="service.useLanguage('en')">Engish</button>
              <button class="dropdown-item" href="#" (click)="service.useLanguage('fr')">french</button>
            </ul>
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">{{ 'sign-up.title' | translate }}</p>

                <form class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" id='userEmail' required/>
                      <label class="form-label" for="form3Example3c">{{ 'sign-in.form.email' | translate }}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <i class="fa-solid fa-pen fa-lg me-3 fa-fw"></i>
                      <input type="text" id="form3Example3c" class="form-control" id='name' required/>
                      <label class="form-label" for="form3Example3c">{{ 'sign-up.form.name' | translate }}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-pen fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example3c" class="form-control" id='surname' required/>
                      <label class="form-label" for="form3Example3c">{{ 'sign-up.form.prenom' | translate }}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-calendar-check fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="date" id="form3Example3c" class="form-control" id='dof' (change)="SendDataonChange($event)" required/>
                      <label class="form-label" for="form3Example3c">{{ 'sign-up.form.datenais' | translate }}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" id='userPwd' required/>
                      <label class="form-label" for="form3Example4c">{{ 'sign-up.form.pass' | translate }}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" id='userPwd1' required/>
                      <label class="form-label" for="form3Example4cd">{{ 'sign-up.form.repeatpass' | translate }}</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" (click)="save()">{{ 'sign-up.form.button' | translate }}</button>
                  </div>

                </form>

                <div class="redirectToLogin">
                  <span>{{ 'sign-up.form.already' | translate }} <a routerLink="/sign-in">{{ 'sign-up.form.log' | translate }}</a></span>
                </div>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
