html, body { 
    height: 100%;
  }
  body {
    margin-bottom:5%;
    font-family: roboto, sans-serif;
  }

.displayTable{
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 48px;
   
 }