<p>auth-form works!</p>
<div class="container">
    <h1>User Registration</h1>
    <form style=" width: 50vw; margin-left : 25vw;">
        <div class="form-group">
         <label for="UserName">UserName</label><br>
         <input type="text" name = "UserName" class="form-control">
        </div>
        <pre></pre>

        <div class="form-group">
            <label for="E-mail">E-mail</label><br>
            <input type="text" name = "E-mail" class="form-control">
           </div>
           <pre></pre>

           <div class="form-group">
            <label for="Password">Password</label><br>
            <input type="text" name = "Password" class="form-control">
           </div>
           <pre></pre>
           <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
