.image{
  height: 40em;
  background-size: cover;
  width: auto;
  background-image: url("../assets/images/les.jpg");
  background-position: 50% 50%;
}
.btn{
  background-color: green;
  color: aliceblue;
  border-style: none;

}

div.form
{
  display: block;
  text-align: center;
}
form
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

