<div class = " container principale">
    <div class = "row gap">
        <div class="col-5 bg-warning">
            1 of 2
           <div class="profile">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/035.png" alt="" height="150px" width="150px" class="rounded-circle">
            <div class="nom d-flex gap-3">
                <h4>{{nom}}</h4>
                <button class="btn btn-primary rounded-circle mb-4"><i class="fas fa-plus"></i></button>
            </div>
           </div>
        </div>
        <div class="col bg-info">
            2 of 2
        </div>
    </div>
</div>