<div class="container-fluid header">
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars" [ngStyle]="{'font-size':'22px'}"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><button class="dropdown-item" type="button" (click)=" changeColor()">Action</button></li>
                  <li><button class="dropdown-item" type="button">Another action</button></li>
                  <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
              </div>
        </div>
        <div class="col">
            <h3>{{nom | uppercase}}</h3>
        </div>
    </div>
