<div class="container-fluid header mt-5 ">

    <nav class="navbar navbar-expand-lg navbar-light  p-3">
        <i class="fas fa-bars " style="font-size: 40px;"></i>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <img src="../../assets/images/ab67616d0000b2739facf642a8ac5767675c9fd0.png" alt="
              photo" srcset="">
            </li>
            <li class="nav-item">
              <h3>{{nom | uppercase}}</h3>
            </li> 
          </ul>
        </div>
      </nav>



    <!-- <div class="row">
        <div class="col">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars" [ngStyle]="{'font-size':'22px'}"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><button class="dropdown-item" type="button" (click)=" changeColor()">Action</button></li>
                  <li><button class="dropdown-item" type="button">Another action</button></li>
                  <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
              </div>
        </div>
        <div class="col">
            <h3>{{nom | uppercase}}</h3>
        </div> -->
    </div>
